.memory{
    height:30px;
    width:100vw;
    background-color: #a9a9a9;
    position: fixed;
    top:0px;
    left:0px;
}

.memory > memory{
    display:inline-block;
    border:1px solid #000000;
    width:30px;
    height:30px;
}